.product-list-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.card {
  margin-bottom: 20px;
}

.modal-body input {
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
}

.table {
  margin-top: 20px;
}

th, td {
  vertical-align: middle !important;
}

.modal-dialog {
  max-width: 500px;
}
